services:
  db:
    image: postgres
    container_name: credible-badger-db
    restart: always
    user: postgres
    ports: 
        - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${DB_ADMIN_PASSWORD}
      POSTGRES_DB: postgres
      POSTGRES_SCHEMA: public
      DB_SERVICE_PASSWORD: ${DB_SERVICE_PASSWORD}
      DB_LIQUIBASE_PASSWORD: ${DB_LIQUIBASE_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./init-database.sh:/docker-entrypoint-initdb.d/init-database.sh
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 1s
  web:
    build: .
    ports: 
        - "8080:8080"
    image: credible-badger-server
    container_name: credible-badger-server
    restart: always
    environment:
      DB_SERVICE_USER: service
      DB_SERVICE_PASSWORD: ${DB_SERVICE_PASSWORD}
      DB_LIQUIBASE_USER: liquibase
      DB_LIQUIBASE_PASSWORD: ${DB_LIQUIBASE_PASSWORD}
      SPRING_PROFILES_ACTIVE: production
      AWS_S3_BUCKET: ${AWS_S3_BUCKET}
      SPRING_ADMIN_PASSWORD: ${SPRING_ADMIN_PASSWORD}
      APPLICATION_JWT_SECRET: ${APPLICATION_JWT_SECRET}
    volumes:
      - ~/.aws:/root/.aws
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "curl -fs http://localhost:9090/actuator/health/readiness | grep '\"status\":\"UP\"' || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s
volumes:
  pgdata:
  
