Hello $email,

A password change request was submitted for your account.
Please click on the following link to change your password:
$link

This link is valid for $lifetime_in_minutes minutes.

Thank you,
Credible Badger
